@page
@using Microsoft.Extensions.Localization
@using Amos.AbpLearn.ProductManagement.Localization
@model Amos.AbpLearn.ProductManagement.Web.Pages.ProductManagement.IndexModel
@inject IStringLocalizer<ProductManagementResource> L
@{
}
<h1>ProductManagement</h1>
<p>@L["SamplePageMessage"]</p>
