@page
@using Microsoft.Extensions.Localization
@using Amos.AbpLearn.OrderManagement.Localization
@model Amos.AbpLearn.OrderManagement.Web.Pages.OrderManagement.IndexModel
@inject IStringLocalizer<OrderManagementResource> L
@{
}
<h1>OrderManagement</h1>
<p>@L["SamplePageMessage"]</p>
